* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3f5f7;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.header {
    /* background-color: pink; */
    height: 42px;
    width: 1200px;
    margin: 29px auto 29px;
    line-height: 42px;
}

.logo {
    float: left;
}

.header-links {
    float: left;
    margin-left: 50px;
    height: 42px;
}

.header-links li {
    float: left;
    margin-left: 25px;
}

.header-links .index {
    color: #1a9fe6;
    border-bottom: 2px solid #1a9fe6;
}

.header-links .index:hover {
    color: #00a4ff;
    border-bottom: 2px solid #00a4ff;
}

.header-links a {
    display: inline-block;
    padding: 0 10px;
    font-size: 18px;
    height: 42px;
    color: black;
}

.header-links a:hover {
    color: #00a4ff;
    border-bottom: 2px solid #00a4ff;
}

.search {
    float: left;
    margin-left: 70px;
    height: 42px;
    border: 1px solid #00a4ff;

}

.search input {
    float: left;
    outline: none;
    color: gray;
    height: 42px;
    width: 340px;
    border: none;
    font-size: 14px;
    padding-left: 20px;
}

.search input:focus {
    box-shadow: 0 0 3px #00a4ff;
}

.search button {
    float: left;
    width: 52px;
    height: 42px;
    border: none;
    background-image: url("./imgs/search.png");
    background-repeat: no-repeat;
    background-color: #00a4ff;
}

.search button:hover {
    box-shadow: 0 0 3px #00a4ff;
}

.search button:active {
    box-shadow: 0 0 6px #00a4ff;
    ;
}

.login {
    float: left;
    line-height: 42px;
    margin-left: 30px;
    color: #666;
    font-size: 14px;
}

.login img {
    margin-right: 4px;
    vertical-align: middle;
}

.banner {
    height: 420px;
    background-color: #1c036c;
}

.content {
    margin: 0 auto;
    width: 1200px;
    height: 420px;
    background-image: url(./imgs/banner2.png);
}

.content .subnav {
    float: left;
    padding: 12px 0;
    background-color: rgba(0, 0, 0, .3);
}

.content .subnav li {
    margin: 0;
}

.content .subnav li a {
    display: block;
    width: 150px;
    line-height: 44px;
    padding: 0 20px;
    color: #d3d1d9;
    font-size: 14px;
}

.content .subnav li a:hover {
    color: #00b4ff;
    background-color: rgba(255, 255, 255, .3);
}

.content .subnav li a span {
    float: right;
}

.classTable {
    float: right;
    margin-top: 60px;
    height: 300px;
    width: 230px;
    background-color: #fff;
}

.classTable ul {
    margin-left: 17px;
    background-color: #fff;
}

.classTable ul li {
    height: 62px;
    width: 195px;
    border-bottom: 1px solid #eaeaea;
}

.classTable ul li a {
    color: black;
    display: block;
    padding-top: 12px;
    height: 62px;
}

.classTable ul li a:hover {
    font-weight: 600;
}

.classTable button {
    width: 195px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #00a4ff;
    display: block;
    margin: 10px auto;
    font-size: 16px;
    color: #00a4ff;
}

.classTable button:hover {
    box-shadow: 0 0 2px #00a4ff;
}

.tableHead {
    line-height: 48px;
    background-color: #9bceea;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;

}

.studyStatus {
    font-size: 16px;
}

.className {
    font-size: 14px;
}

.learning {
    font-size: 12px;
    color: #bdbdbd;
}

.recommandedBox {
    width: 1200px;
    height: 60px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 35px;
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
}

.recommandA {
    float: left;
    display: block;
    text-align: center;
    line-height: 60px;
    width: 133px;
    font-size: 16px;
    font-weight: bold;
    color: #00a4ff;
}

.recommandedBox ul li {
    float: left;
    display: block;
    /* width: 133px; */
    text-align: center;
    line-height: 60px;
    font-size: 16px;
}

.recommandedBox ul li a {
    padding: 0 34px;
    text-align: center;
    border-left: 1px solid #bfbfbf;
}

.changeInterests {
    float: right;
    font-size: 14px;
    color: #00a4ff;
    margin-right: 28px;
    line-height: 60px;
}

.recommand {
    width: 1200px;
    margin: 0 auto;
}

.recommandHead {
    height: 42px;
    overflow: hidden;
}

.recommandHead h2 {
    font-size: 20px;
    color: #494949;
    float: left;
    display: inline;
}

.recommandHead a {
    float: right;
    display: block;
    font-size: 12px;
    color: #a5a5a5;
    margin-top: 7px;
    margin-right: 30px;
}

.displayBoxes {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.displayBox {
    float: left;
    display: block;
    width: 228px;
    height: 270px;
    margin-bottom: 15px;
    margin-right: 15px;
    background-color: #fff;
}

.displayBox:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.displayBox img {
    width: 228px;
}

.displayBox h2 {
    font-size: 14px;
    color: black;
    padding: 20px 25px;
}

.displayBox p {
    float: left;
    font-size: 12px;
    color: #999;
}

.displayBox .senior {
    color: #ff7c2d;
    padding-left: 25px;
    padding-right: 10px;
}

.last {
    margin-right: 0;
}

.programmingGettingStart {
    width: 1200px;
    margin: 0 auto;
    margin-top: 38px;
    overflow: hidden;
}

.programmingGettingStartHead {
    height: 42px;
    overflow: hidden;
}

.programmingGettingStartHead h2 {
    font-size: 20px;
    color: #494949;
    float: left;
    display: inline;
}

.programmingGettingStartHead a {
    float: right;
    display: block;
    font-size: 12px;
    color: #a5a5a5;
    margin-top: 7px;
    margin-right: 30px;
}

.level {
    float: left;
    margin-left: 289px;
}

.level a {
    float: left;
    display: block;
    width: 63px;
    margin: 0 30px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
}

.level a:hover {
    font-weight: bold;
    color: #00a4ff;
    border-bottom: 1px solid #00a4ff;
}

.level .choosen {
    font-weight: bold;
    color: #00a4ff;
    border-bottom: 2px solid #00a4ff;
}

.leftBox {
    float: left;
    width: 228px;
    height: 392px;
}

.rightBox {
    float: left;
    width: 957px;
    height: 392px;
    margin-left: 15px;
}


.programmingGettingStartBox {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.rightBottomBox {
    width: 957px;
    height: 100px;
    margin-top: 17px;
}

.footer {
    height: 275px;
    background-color: #fff;
    margin-top: 42px;
}

.footerw {
    width: 1200px;
    margin: 0 auto;
}

.footerLeft {
    float: left;
    width: 450px;
    margin-right: 210px;
    margin-top: 35px;
    font-size: 12px;
}

.footerLeft p {
    margin-top: 20px;
    margin-bottom: 10px;
}

.footerLeft a {
    display: block;
    width: 120px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #00a4ff;
    color: #00a4ff;
    font-size: 16px;
}

.footerLeft a:hover {
    box-shadow: 0 0 2px #00a4ff;
}

.footerBox {
    width: 100px;
    float: left;
    margin-left: 80px;
    margin-top: 35px;
}

.footerBox h2 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

.footerBox li a {
    font-size: 12px;
    color: black;
}

.footer li a:hover {
    text-decoration: underline;
}